@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Satish Yadav<br />
    Mumbai, India<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:monstersatish@live.com">monstersatish@live.com</a><br />
</address>